#projectsCard {
    margin-top: 30vh;
}

#projectsCard a {
    color: #94C9A9;
}

#sudokuShowcase {
    display: flex;
    margin-top: 10vh;
    margin-right: 0;
    
    padding-left: 15vw;
}

#sudokuImg {
    float:left;
    border-style: solid;
    border-color: rgba(75, 75, 75, 0.25);
    border-width: 5px;
    
    height: 350px;
}

.sudokuText {
    margin-left: 50px;
    width: 35vw;
}

#sTextContainer {
    padding-top: 75px;
    width: 0;
}

#chatSiteShowcase {
    display: flex;
    margin-top: 20vh;
    margin-left: 0;
    padding-right: 15vw;
    overflow: hidden;
}

#chatSiteImg {
    float: right;
    border-style: solid;
    border-color: rgba(75, 75, 75, 0.25);
    border-width: 5px;
    
    height: 350px;
    width: 550px;
}

#cTextContainer {
    margin-left: 23vw;
    padding-top: 75px;
    /* margin-left: 27vw; */
    margin-right: 50px;

    width: 35vw;
}

#asteroidsShowcase {
    display: flex;
    margin-top: 16.5vh;
    margin-right: 0;
    
    width: 100%;
    padding-left: 15vw;
}

#asteroidsImg {
    float:left;
    border-style: solid;
    border-color: rgba(75, 75, 75, 0.25);
    border-width: 5px;
    
    height: 350px;
}

#aTextContainer {
    padding-top: 75px;
}
.asteroidsText {
    margin-left: 50px;
    width: 35vw;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #sTextContainer {
        padding-top: 5vw;
        clear: left;
    }

    #cTextContainer {
        padding-top: 5vw;
        clear: right;
    }

    #aTextContainer {
        padding-top: 5vh;
        clear: left;
    }

    .asteroidsText {
        margin-left: 10vw;
    }
}

@media only screen and (max-width: 767px) {
    #sTextContainer {
        clear: left;
    }

    #cTextContainer {
        /* clear: right; */
        float: left;
    }

    #aTextContainer {
        clear: left;
    }

    #sudokuShowcase {
        padding: 0;
    }
    
    #sudokuImg {
        float: none;
        display: block;
        margin-left: 5vw;
        
    }

    .sudokuText {
        width: 300px;
        margin-left: 50px;
    }

    #cTextContainer {
        margin-left: 50px;
    }
    .chatSiteText { 
        width: 300px;
    }

    .asteroidsText {
        margin-left: 0;
        width: 300px;
    }

    #asteroidsShowcase {
        padding-left: 7.5vw;
    }

    #sudokuImg {
        width: 85vw;
        height: auto;
    }

    #chatSiteShowcase {
        /* padding: calc(1vw / 5); */
        padding-right: 7vw;
    }

    #chatSiteImg {
        width: 85vw;
        height: auto;
    }

    #asteroidsImg {
        width: 85vw;
        height: auto;
        float: left;
        margin-left: 0;
    }

    #aTextContainer {
        padding-top: 5vh;
    }
}

