#projectsCard {
    margin-top: 30vh;
}

#projectsCard a {
    color: #94C9A9;
}

#sudokuShowcase {
    margin-top: 10vh;
    margin-right: 0;
    
    width: 0;
    padding-left: 15vw;
}

#sudokuImg {
    float:left;
    border-style: solid;
    border-color: rgba(75, 75, 75, 0.25);
    border-width: 5px;
    
    height: 350px;
}

.sudokuText {
    margin-left: 25vw;
    width: 35vw;
}

#sTextContainer {
    padding-top: 8vh;
    width: 0;
}

#chessShowcase {
    margin-top: 20vh;
    margin-left: 0;
    padding-right: 15vw;
}

#chessImg {
    float: right;
    border-style: solid;
    border-color: rgba(75, 75, 75, 0.25);
    border-width: 5px;
    
    height: 350px;
}

#cTextContainer {
    padding-top: 8vh;
    margin-left: 27vw;

    width: 35vw;
}

#asteroidsShowcase {
    margin-top: 16.5vh;
    margin-right: 0;
    
    width: 100%;
    padding-left: 15vw;
    width: 0;
}

#asteroidsImg {
    float:left;
    border-style: solid;
    border-color: rgba(75, 75, 75, 0.25);
    border-width: 5px;
    
    height: 350px;
}

.asteroidsText {
    margin-left: 38vw;
    width: 35vw;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #sTextContainer {
        padding-top: 5vw;
        clear: left;
    }

    #cTextContainer {
        padding-top: 5vw;
        clear: right;
    }

    #aTextContainer {
        padding-top: 5vh;
        clear: left;
    }

    .asteroidsText {
        margin-left: 10vw;
    }
}

@media only screen and (max-width: 767px) {
    #sTextContainer {
        clear: left;
    }

    #cTextContainer {
        clear: right;
    }

    #aTextContainer {
        clear: left;
    }

    #sudokuShowcase {
        padding: 0;
    }
    
    #sudokuImg {
        float: none;
        display: block;
        margin-left: 5vw;
        
    }

    .sudokuText {
        width: 300px;
        margin-left: 50px;
    }

    .chessText {
        width: 250px;
    }

    .asteroidsText {
        margin-left: 0;
        width: 300px;
    }

    #asteroidsShowcase {
        padding-left: 7.5vw;
    }

    #sudokuImg {
        width: 85vw;
        height: auto;
    }

    #chessShowcase {
        /* padding: calc(1vw / 5); */
        padding-right: 7vw;
    }

    #chessImg {
        width: 85vw;
        height: auto;
    }

    #asteroidsImg {
        width: 85vw;
        height: auto;
        float: left;
        margin-left: 0;
    }

    #aTextContainer {
        padding-top: 5vh;
    }
}

